* {
  box-sizing: border-box;
}


nav ul { text-align:center;
          list-style-type:none;
          padding-left:30px;
		  
}

nav li:hover {font-weight: bold;
                font-size: 220%;
				}

nav li {  font-size: 200%;
          display: inline;		
          padding:20px 40px;
}
		  
nav a {   text-decoration: none;
          color:black;
		  font-family: "Garamond", Serif;
}		  		



header {background-image: url("imgtema2/bg11.jpg");
        height: 250px;
		margin-left:130px;
		margin-right:130px;}
		
h1 { text-align: center;
            padding-top: 50px; 
			padding-left: 70px;
			 font-size: 390%;
			 font-family: 'Prata', serif;
             color: black; 
			 font-style: italic;
           }	

header h2{ text-decoration: none;
           margin-left: 265px;
           font-size:250%;
           font-family: 'Prata', serif;
           color: black; 
		   font-style: italic;
}	


main {font-family: 'Jost', sans-serif;
      color: black; 
	  font-weight:bold;
	  font-size: 150%;
	  margin: 30px 130px;
	  background-color:  #D9D9D9;
	  padding: 10px 40px 10px 40px;}
	  
.img {float:right;
      margin: 40px 170px 20px 10px;}
	  
main h3 {text-decoration: overline;
         font-size: 120%;
		 font-weight: bold;
		 padding-left: 40px;}	  
	  
main h4 {padding-left: 40px;}	  
	  
h2 {font-family: 'Jost', sans-serif;
      color: black; 
	  font-weight:bold;
	text-align: left;
    margin:30px 130px;
    font-size: 280%;
    text-decoration:overline;}	  
	
.lista {list-style: none inside none;
        padding-left: 100px;}
		
section {font-family: 'Jost', sans-serif;
      color: black; 
	  font-weight:bold;
	  font-size: 150%;
	  margin: 30px 130px;
	  background-color:  #D9D9D9;
	  padding: 10px 150px;
	  margin-bottom: 50px;
	  text-align: center;} 
	  
section img {border-radius: 50%;}	

section h3{ text-align: center;
            font-family: 'Jost', sans-serif;
            text-decoration: overline;
            font-size: 170%;} 
			
			


.container::after {content: "carduri"
clear: both;
display:table;
}		

.container h3 {text-align: center;
            font-family: 'Jost', sans-serif;
            text-decoration: overline;
            font-size: 250%;}

.carduri {float: left;
          width: 30%;
          background-color:  #D9D9D9;
	      padding: 20px 20px 20px 25px;
          margin: 25px 25px 70px 25px;
		  border-radius: 20px;}
	  
.carduri img {border-radius: 20px;}	  


.carduri h4 {  text-align: center;
      font-family: 'Jost', sans-serif;
	  color: black; 
	  font-weight:bold;
	  font-size: 150%;
	  margin-top: 10px;
      }
		
		
.listac {list-style-type: none;
         padding-left: 40px;}	

.mainc {width: 34%;
        float:left;}	
.mainc h3 {text-decoration: overline;
         font-size: 120%;
		 font-weight: bold;
		 padding-left: 40px;}		

.map   {margin-top: 90px;}


		
footer { background-image: url("imgtema2/audience4.jpg"); 
         margin-left: 130px;
		 margin-right: 130px;
		 margin-top: 50px;
		 height: 280px;
		 font-family: 'Prata', serif;
		 font-weight: bold;
		 font-size: 130%;
		 text-align: center;
		 padding: 30px;
         }

	
	
		
.fa:hover {opacity: 0.7;}

.fa {  
  padding: 20px;  
text-align: center;  
  margin: 10px 10px 10px 10px;  
  font-size: 40px;  
  width: 20px;  
}  
.fa-facebook {  
  background: #3B5998;  
color: white;
text-decoration: none;
border-radius: 50px;  }

.fa-instagram {  
  background: #FF52A8;  
color: white;
text-decoration: none;
border-radius: 50px;  }
		 
	 
 		
		
		


         
